/* Disable native overscroll glow/stretch on Android */
html,
body {
  overscroll-behavior-y: none !important;
  height: 100vh !important;
  overflow: hidden !important;
  position: fixed;
  width: 100wh;
}

/* Ensure the glass effect can see through the layers */
ion-content {
  --background: transparent !important;
}

ion-content::part(scroll) {
  background: transparent !important;
  overscroll-behavior-y: none !important;
}

/* Ensure your Header is high enough to be the top layer */
header {
  z-index: 50 !important;
}

#root {
  height: 100%;
}

.App {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
